.estilos {
    border-width: 5px;
    border-color: darkcyan;
    border-style: solid;
    padding: 10px 50px 100px 0;
    margin: 40px;
    font-size: 2rem;
}

.center {
    text-align: end;
}

.end {
    text-align: end;
}